<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>344603180015-qotrvk51l48paun1on3q9i393v4nhaq9.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.344603180015-qotrvk51l48paun1on3q9i393v4nhaq9</string>
	<key>API_KEY</key>
	<string>AIzaSyCbIviaM0t_R2SrYOT3RXAAbd34n2z8vFQ</string>
	<key>GCM_SENDER_ID</key>
	<string>344603180015</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterApplication2</string>
	<key>PROJECT_ID</key>
	<string>allah-bohat-bada-hai</string>
	<key>STORAGE_BUCKET</key>
	<string>allah-bohat-bada-hai.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:344603180015:ios:ee91529ccd41abe4c7941a</string>
</dict>
</plist>